<!-- <h3> {{recipeName}} </h3>
<div [ngSwitch]= "recipeName">
  <div *ngSwitchCase= "'Pizza'" class= "col-md-12">
    1. “Bloom” the yeast by sprinkling the sugar and yeast in the warm water.
    Let sit for 10 minutes, until bubbles form on the surface. 
    <hr>
    2.In a large bowl, combine the flour and salt. Make a well in the middle and add the olive oil and bloomed yeast mixture.
    Using a spoon, mix until a shaggy dough begins to form.
    <hr>
    3.Once the flour is mostly hydrated, turn the dough out onto a clean work surface and knead for 10-15 minutes.
    The dough should be soft, smooth, and bouncy. Form the dough into a taut round.
    <hr>
    4.Grease a clean, large bowl with olive oil and place the dough inside, turning to coat with the oil.
    Cover with plastic wrap.
    <hr>
    Let rise for at least an hour, or up to 24 hours.
    5.Punch down the dough and turn it out onto a lightly floured work surface.
    Knead for another minute or so, then cut into 4 equal portions and shape into rounds.
    <hr>
    6.Lightly flour the dough, then cover with a kitchen towel and let rest for another 30 minutes to an hour while you prepare the sauce and any other ingredients.
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sv3TXMSv6Lw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>
  <div *ngSwitchCase= "'Hamburger'" class= "col-md-12">  
    1.Mix together the patty ingredients until evenly combined.
    <hr>
    2.Form the beef into a round patty.
    <hr>
    3.Repeat with the remaining beef.
    <hr>
    4.Heat oil in a pan over medium heat.
    <hr>
    5.Cook the burgers for 3 minutes on the first side, flip, and place the slice of comté on top.
    <hr>
    6.Cook for 6 more minutes.
    <hr>
    7.Assemble the burgers on the buns with caramelized onions and arugula.
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/mwExFzKorws" 
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe> 
  </div>
  <div *ngSwitchCase= "'Shakshuka'" class= "col-md-12"> 
    1.Heat oil in a frying pan over medium heat.
    <hr>
    2.Add chorizo, onion, garlic, and red bell pepper, cooking for 2-3 minutes, or until fragrant.
    <hr>
    3.Add papmbine, cooking for 6–-8 minutes, or until the vegetables begin to soften.
     <hr>
     4.Pour tinned tomatoes into the skillet, reduce heat, and let simmer for 20–-25 minutes, or until the sauce begins to thicken.
     <hr>
     5.Using the back of a spoon, make 4 wells in the tomato sauce. Crack an egg into each well.
     <hr>
     6.Cover the skillet with a lid, and cook for 6–-8 minutes, or until eggs are cooked.
     <iframe width="560" height="315" src="https://www.youtube.com/embed/ogFQISZyv1w" 
     frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
     allowfullscreen></iframe>
  </div> -->

  <div class="container-fluid">
    <div class= "row">
      <div class= "col-md-26">
        <ul clas= "nav nav-tabs"> 
          <h1> {{recipeName}}</h1>
          <hr>
  <h3> {{recipe.fullRecipe}}</h3>
  <img
        src= "{{recipe.imagepath}}"
        style= "max-height: 400px;"
        style="max-width: 300px;">
  </ul>
  </div>
  </div>
  </div>
    

